<%- include("header"); -%>

<h1> this is an exmaple of about me page mamen</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci libero quas minima necessitatibus sunt sed soluta ut assumenda, iste veritatis sint alias ea odit, quia corrupti? Facilis voluptatem rem accusantium?</p>

<%- include("footer"); -%>